{{ $approach := .Site.GetPage "approach" }}
{{ with $approach }}
<section class="quote-section" aria-labelledby="quote-heading">
  <div class="quote-section__inner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-8">
          <p class="quote-section__kicker" id="quote-heading">{{ .Params.kicker | default "My approach" }}</p>
          <h2 class="quote-section__title">{{ .Title }}</h2>
          <p class="quote-section__lead">{{ .Params.lead | safeHTML }}</p>
          <div class="quote-section__body">
            {{ .Content }}
          </div>
          <div class="quote-section__cta">
            <a class="btn btn-dark btn-lg px-4" target="_blank" rel="noopener" href="{{ $.Site.Params.yardSignForm }}" role="button">{{ .Params.ctaText | default "Request a Yard Sign" }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
