<section class="section section-open-collective">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="video-embed">
          <iframe src="https://player.vimeo.com/video/866113470?h=3b62b47e3e" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Tara Winer - City Council Candidate"></iframe>
        </div>
        <p class="mt-3 mb-0 text-muted small"><a href="https://vimeo.com/866113470">Tara Winer - City Council Candidate</a> from <a href="https://vimeo.com/bouldercolorado">City of Boulder</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
  </div>
</section>
