<section class="section section-open-collective ">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-10 col-16">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/866113470?h=3b62b47e3e" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="py-2"><a href="https://vimeo.com/866113470">Tara Winer - City Council Candidate</a> from <a href="https://vimeo.com/bouldercolorado">City of Boulder</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div>
    </div>
</section>
