<section class="section section-open-collective ">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-10 col-16">

                <iframe src="https://player.vimeo.com/video/866113470?h=3b62b47e3e" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p><a href="https://vimeo.com/866113470">Tara Winer - City Council Candidate</a> from <a href="https://vimeo.com/bouldercolorado">City of Boulder</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div>
    </div>
</section>
