<div class="card endorse">
    <div class="card-bar"></div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col col-md-6 col-sm-12">
          {{ with resources.Get "/images/endorse-tw.png" }}
            <img style="vertical-align:middle" src="{{ .RelPermalink }}" width="100%" alt="Tara Winer extending arm out to the mountains">
          {{ end }}
        </div>
        <div class="col">
          <h3 class="h4 card-title">Endorse Tara Winer for Boulder City Council</h3>
          <p class="card-text">We often vote for candidates based on what we hear from the people we know and trust.  If you are not already listed as a supporter and you would like to become an endorser, click below.</p>
          <a type="button" class="btn btn-dark px-3" target="_blank" href="https://forms.gle/YtJU1AqWsxUQKqnS6">Become an Endorser</a>    
        </div>
      </div>
    </div>
</div>