{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">Support & Endorse Tara</h1>
      <div >{{ .Content }}</div>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
				{{ range where .Site.RegularPages.ByWeight "Section" .Section }}
					{{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
						<div class="card my-3">
							<div class="card-body">
								<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
							</div>
						</div>
					{{ end }}
				{{ end }}
			</div>
    </article>
	
  </div>
  <section class="section section-sm my-3 justify-content-center">
	<div class="container mx-0 px-0 mw-100">
	  <div class="row justify-content-center">
		<div class="col-12">
		  {{ partial "main/endorse.html" . -}}
		</div>
	  </div>
	</div>
  </section>
</div>
{{ end }}