.home .card,
.newsletter .card,
.blog .card,
.contributors.list .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}

.home .card:hover,
.newsletter .card:hover,
.blog .card:hover,
.contributors.list .card:hover {
  transform: scale(1.025);
}

.home .card-body.newsletter,
.newsletter .card-body.newsletter,
.blog .card-body.newsletter,
.contributors.list .card-body.newsletter {
  padding: 0 2rem 1rem;
}

.blog-header {
  text-align: center;
  margin-bottom: 2rem;
  font-family: $font-family-monospace;
}

.blog-footer {
  text-align: center;
}
