{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center">{{ .Content }}</div>
      <div class="card-list">
        {{ range .Pages.ByPublishDate.Reverse }}
          <div class="card my-3">
            <div class="card-body">
              <p class="mb-1 text-muted small">{{ .PublishDate.Format "January 2, 2006" }}{{ with .Section }} · {{ . | humanize }}{{ end }}</p>
              <a class="stretched-link" href="{{ .RelPermalink }}">{{ .LinkTitle }} &rarr;</a>
            </div>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</div>
{{ end }}
