<footer class="footer">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row text-muted">
      <p class="md__image text-center">
        {{ $image := resources.GetMatch "/images/logo-tw.png" }}
        {{ $image := $image.Resize "250x" }}
        {{ with $image }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
        {{ end }}
      </p>      
    </div>
    <div class="row text-center">
      <div class="col">
        <hr>
        <a class="btn btn-orange btn-lg px-3 my-2 mx-1 text-white" target="_blank" href="https://forms.gle/NkJo5bzddj8UHzCn6">Contact</a>
        <a class="btn btn-orange btn-lg px-3 my-2 mx-1 text-white" target="_blank" href="https://forms.gle/DWWN9DLst6CPba118">Yard Sign</a>
      </div>
    </div>
    <div class="row text-muted">
      <div class="text-center">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <!-- <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div> -->
    </div>
  </div>
</footer>