{{ define "main" }}
<section class="container-fluid my-0 p-0 justify-content-center no-gutters">
    <div style="height:80vh;">
      {{- .Scratch.Set "fillImage" "Center" -}}
      {{ with resources.Get "/images/headshot2.png" }}
      <div class="row justify-content-center px-0 mx-0 bg-image w-100 h-100"
      style="background-image: url('{{ .RelPermalink }}');">
      {{ end }}
        <div class="row align-items-end">
          <div class="text-center pb-5">
            <h1 class="text-white header">Re-elect Tara Winer</h1>
            <h2 class="text-white mt-0">Boulder City Council</h2>
            <p class="mb-0 mt-4"><a class="btn btn-dark btn-lg px-3 mb-2" href="{{ "issues/content/economicvitality" | relURL }}" role="button">Tara's Priorities</a></p>
          </div>
  
        </div>
      </div>
  </div>
</section>
{{ partial "sidebar/quote.html" . }}
<section class="bg-green h-100">
  <div class="d-flex">
    <div class="p-2 px-0 py-0" style="width: 110%;">
      {{ $image := resources.GetMatch "images/flowers.jpeg" }}
      {{ with $image }}
      <div class="h-100 bg-image"
      style="background-image: url('{{ .RelPermalink }}');">
      {{end}}
      </div>
    </div>
    <div class="p-2 flex-shrink-1">
      <div class="w-75 align-items-center mx-auto no-gutters">
        <div class="row flex-grow-1 py-3">
          <h2>___</h2>
          <h2 class="text-uppercase mb-0"><b>On the Issues</b></h2>
          <p><i></i>The key issues I'm continuing to focus on</p>
          <ul class="mx-3 my-3">
            <li>Ensuring our public spaces are safe</li>
            <li>Creating upstream solutions to prevent homelessness</li>
            <li>Providing more treatment options for those with substance abuse and mental health issues</li>
            <li>Increasing affordable and middle income housing</li>
            <li>Upgrading bike underpasses and multi-use paths</li>
            <li>Supporting funding for the arts</li>
            <li>Increasing economic vitality</li>
            <li>Improving community engagement</li>
            <li>Enhancing fire and flood preparedness and mitigation</li>
          </ul>
          <p class="mb-0 mt-4"><a class="btn btn-dark px-3 mb-3" href="{{ "issues/content/economicvitality" | relURL }}" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
    
<section class="section section-sm my-3 justify-content-center container">
  <div class="row justify-content-center">
    <div class="col-12">
      {{ partial "main/endorse.html" . -}}
    </div>
  </div>
</section>
<section class="section section-sm my-3 justify-content-center container">
  <div class="row justify-content-center">
    <div class="col-12">
      {{ partial "main/yardsign.html" . -}}
    </div>
  </div>
</section>
{{ end }}
